{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Help{% endblock %}

{% block scripts %}
{{super()}}

<script type=text/javascript src="{{ url_for('static', filename='js/target.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/datepicker.js') }}"></script>


{% endblock %}


{% block page_content %}

<div class="container">	

<h1>Help!</h1>

<br>
<h2>Text</h2>
<dl>
   <dt>Format</dt>
   <dd>- Name: no space allowed btw characters, short name preferred</dd>
   <dd>- RA: hhmmss.s* or hh:mm:ss.s*</dd>
   <dd>- DEC: ddmmss.s* or dd:mm:ss.s*</dd>
   <dd>- Format error will be indicated if any</dd>
   <dd>- Max num of targets is 35-ish</dd>
</dl>


<h2>Ope</h2> 
<dl>
   <dt>Upload ope/prm files</dt>
   <dd>- You can choose multiple ope files</dd>
   <dd>- If an ope includes the line *load xxxx.prm, upload a prm file as well</dd>
   <dd>- Max num of targets is 35-ish</dd>
</dl>



<h2>Laseer</h2> 
<dl>
  <dt>Upload a laser collision file </dt>
  <dd>- The file must be a file provided by a suport scientist.</dd>
</dl>


<h2>Csv</h2> 
<dl>
  <dt>Upload csv file(s) </dt>
  <dd>- You can upload csv with/out header file(s).  Checkbox for header</dd>
  <dd>- Csv with header,  header keywords are "name", "ra", "dec", and "equinox" in any order. lowercae/mixed-case/upercase are acceptable.</dd>
  <dd>- Csv without header,  "name", "ra", "dec", and "equinox" have to be in order.</dd>
  <dd>- Ra/Dec format: hhmmss.s*/hh:mm:ss.s*, +-dd:mm:ss.s*/ddmmss.s*  or degree. Checkbox for either hours or degree</dd>
</dl>

<pre>
  csv with header.  ra/dec in hours e.g.
  ra, Dec, equinox, NAME
  000000.00, +000000.0, 2000.0, HOURS
  00:00:00.00, +00:00:00.0, 2000.0, HOURS 

  csv with header.  ra/dec in deg e.g.
  ra, Dec, equinox, NAME
  0.00, 0.0, 2000.0, DEG
  
  csv without header. e.g.
  BBBB, 000000.00, +000000.0, 2000.0
</pre>  


<h2>Interactive Methods</h2> 
<dl>
  <dt>Legend</dt>
  <dd>- Turn on/off entries by clicking.</dd>
  <dt>Buttons for Laser collision time</dt>
  <dd>- Turn on/off laser collision time.</dd>
  <dt>Active Tools</dt>
  <dd>- Pan Tool <img src="{{ url_for('static', filename="img/Pan.png") }}" width="15" height="15">: Pan the plot by left-dragging a mouse.</dd>
  <dd>- BoxZoom Tool <img src="{{ url_for('static', filename="img/BoxZoom.png") }}" width="15" height="15">: Zoom the plot bounds.</dd>
  <dd>- WheelZoom Tool <img src="{{ url_for('static', filename="img/WheelZoom.png") }}" width="15" height="15">: Zoom the plot in and out</dd>
  <dd>- Undo Tool <img src="{{ url_for('static', filename="img/Reset.png") }}" width="15" height="15">:  Restore previous state of the plot.</dd>
  <dd>- Save Tool <img src="{{ url_for('static', filename="img/Save.png") }}" width="15" height="15">: Save a PNG image of the plot</dd>
</dl>

<br>

<h2>Web Browser</h2> 
<p>Chrome, Firefox tested</p>
<br>

<h2>Contact Us</h2> 
<p>Software Division: ocs@naoj.org</p>

</div>


{% endblock %}
