<form action="Laser" method="POST" id="laserC" enctype="multipart/form-data">

  <!-- Site Selection -->
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="site" class="form-label h5">Site</label>
      <select name="site" id="site" class="form-select" required>
        <option value="subaru">Mauna Kea</option>
      </select>
    </div>
  </div>

  <!-- Laser File Upload -->
  <div class="row mb-4">
    <div class="col-md-6">
      <label for="laserfile" class="form-label h5">Laser File</label>
      <input class="form-control" type="file" id="laserfile" name="laser" required aria-required="true" accept=".txt,.laser">
      <div class="form-text">Upload a valid .laser or .txt file.</div>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="row">
    <div class="col-auto">
      <button type="submit" class="btn btn-success" id="plot">Plot</button>
    </div>
  </div>

</form>
