{% extends "base.html" %}

{% block title %}Targets{% endblock %}

{% block page_content %}
<br>

<div class="container mt-3">

    <div class="page-header">
      <h1 class="display-3">Target Visibility</h1>
      <p>This will produce a plot showing your targets' elevations on the date of your choice.</p>
    </div>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active h3"  data-bs-toggle="tab" href="#text">Text</a>
    </li>
    <li class="nav-item">
      <a class="nav-link h3" data-bs-toggle="tab" href="#ope">Ope</a>
    </li>
    <li class="nav-item">
      <a class="nav-link h3" data-bs-toggle="tab" href="#laser">Laser</a>
    </li>
    <li class="nav-item">
      <a class="nav-link h3" data-bs-toggle="tab" href="#csv">Csv</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="text" class="container tab-pane active"><br>
      {% include "text.html" %}
    </div>
    <div id="ope" class="container tab-pane fade"><br>
      {% include "ope.html" %}
    </div>
    <div id="laser" class="container tab-pane fade"><br>
       {% include "laser.html" %}
    </div>
    <div id="csv" class="container tab-pane fade"><br>
       {% include "csv.html" %}
    </div>
    
  </div>
</div>


{% endblock %}
