{% extends "base.html" %}

{% block title %}Targets{% endblock %}

{% block page_content %}

<div id="tab" class="container-fluid">	
    <ul class="nav nav-tabs">
        <li class="active">
        <a href="#1" data-toggle="tab">Text</a>
        </li>
        <li><a href="#2" data-toggle="tab">Ope</a>
        </li>
	<li><a href="#3" data-toggle="tab">Laser</a>
        </li>
	<li><a href="#4" data-toggle="tab">Csv</a>
    </ul>

<div class="tab-content ">
    <div class="page-header">
      <h1>Target Visibility</h1>
      <p>This will produce a plot showing your targets' elevations on the date of your choice.</p>
    </div>
    <div class="tab-pane active" id="1">
        {% include "text.html" %}
    </div>
    <div class="tab-pane" id="2">
        {% include "ope.html" %}
    </div>
    <div class="tab-pane" id="3">
        {% include "laser.html" %}
    </div>
    <div class="tab-pane" id="4">
        {% include "csv.html" %}
    </div>
</div>
</div>



{% endblock %}
