    <form  class="entry form-inline" action="opeP" method="POST" id="opeP" enctype="multipart/form-data">


    <div class="row clearfix">
    <div class="col-md-9">
        <label for="site">Site</label><br>

        <select name="site" class="form-control">
            <option>Mauna Kea</option>
        </select>

        <div class="input-group date">
            <input type="text" size="11" class="form-control" id="sitedate_ope" name="date" required aria-required="true" placeholder="YYYY-MM-DD" pattern="^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$">
            <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>

    </div>
    </div>
    <br>

    <p><input type=file name="ope[]"  required aria-required="true"  class="btn btn-default" multiple="">

     <br>   
     <input type=submit value="Plot" form="opeP" class="btn btn-success" id="plot">
        
    </form>

