{% extends "base.html" %}

{% block title %}Target Visibility{% endblock %}

{% block page_content %}

    <div class="container-fluid">

    <h1>Visibility</h1>
    <br>

    {% if errors %} 
        <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>ERROR!</strong>
        {% for e in errors %}
            <li>{{ e }}</li>
        {% endfor %}
        </div>

    {% endif %}

    {% if plot_script %} 	
        {{ js_resources|indent(4)|safe }}
        {{ css_resources|indent(4)|safe }}
        {{ plot_script|indent(4)|safe }}
        {{ plot_div|indent(4)|safe }}
    {% endif %}     

    </div>

{% endblock %}
